# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
tsconfig.tsbuildinfo

# logs
npm-debug.log*

# environment variables
.env
.env.production

# test coverage
coverage/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
