---
import { getUrl } from '~astro-utils/url-utils';

interface Props {
  href: string;
  [key: string]: any;
}

const { href, ...attrs } = Astro.props;

const isExternal = href.startsWith('http://') || href.startsWith('https://');

const normalizeHref = (path: string) => {
  if (isExternal) {
return path;
}

  const cleanPath = path.replace(/\/$/, '') || '/';
  return getUrl(cleanPath);
};

const finalHref = normalizeHref(href);

const finalRel = (attrs.target === '_blank' && !attrs.rel) ? 'noopener noreferrer' : attrs.rel;
---

<a
  href={finalHref}
  rel={finalRel}
  {...attrs}
>
  <slot />
</a>
