name: Build

on:
  pull_request:
    branches: ['main']

permissions:
  contents: read

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Setup environment variables
        uses: ./.github/actions/setup-env
        with:
          vars-json: ${{ toJSON(vars) }}
          secrets-json: ${{ toJSON(secrets) }}
          github-sha: ${{ github.sha }}

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build
